/* DECLARATION OF COLORS */
@define-color highlight rgba(117, 241, 250, 1);
@define-color dark-9 rgba(24, 24, 27, 1);
@define-color dark-8 rgba(39, 39, 42, 1);
@define-color dark-7 rgba(63, 63, 70, 1);
@define-color dark-6 rgba(82, 82, 91, 1);
@define-color dark5 rgba(113, 113, 122, 1);

* {
    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: @dark-9;
    color: #ffffff;
}

#custom-arch {
    padding: 3px 5px;
    margin: 7px 0px 7px 7px;
    background: transparent;
    border: 1px solid @highlight;
    border-radius: 2px;
    color: @highlight;
}

#workspaces button {
    padding: 3px;
    margin: 7px 0px 7px 7px;
    background: transparent;
    border-radius: 2px;
    color: white;
}

#workspaces button.active {
    background: @highlight;
    color: black;
    font-weight: 700;
}

#workspaces button.urgent {
    background: rgba(227, 81, 73, 1);
}

#tray,
.modules-right > widget > #hardware,
.modules-right > widget > #connectivity {
    border-radius: 8px;
    background: @dark-8;
    margin: 5px 10px 5px 0px;
    padding: 0px 4px;
}

#tray {
    padding: 5px 8px;
}

/* Reset individual module margins and padding inside groups */
#battery,
#bluetooth,
#network,
#cpu,
#memory,
#pulseaudio,
#language {
    background: transparent;
    margin: 0px;
    padding: 5px 6px;
    border-radius: 0px;
}

#custom-separator {
    color: @highlight;
    font-size: 12px;
    padding: 0px 1px;
    margin: 0px;
}

#window {
    margin-left: 15px;
}

tooltip {
    background: @dark-9;
    border-radius: 5px;
}

tooltip label {
    color: white;
}
